<%#= render 'boostrap' %>
<section id="parent">
  hello
  <div>hello</div>
  <div class="element">hello</div>
  <div class="element color">hello</div>
  <div class="element">hello
  <div class="element">
    hello
  </div></div>

</section>
<section id="various-buttons">
  <div class="item">
    <h2>演習</h2>
    <p>try.scssを編集しよう</p>
    <button class="btn float">button</button>
    <button class="btn filled">button</button>
    <button class="btn letter-spacing">button</button>
    <button class="btn shadow1">button</button>
    <button class="btn solid">button</button>
    <button class="btn">button</button>
  </div>
  <div class="item">
    <h2>演習</h2>
    <p>try.scssを編集しよう</p>
    <button class="btn">button</button>
    <button class="btn">button</button>
    <button class="btn">button</button>
    <button class="btn">button</button>
    <button class="btn">button</button>
    <button class="btn">button</button>
  </div>
  <div class="item">
    <button class="btn slide-bg">button</button>
  </div>
</section>
<section id="animation">
<div class="item">
  <h2>演習</h2>
  <p>try.scssを編集しよう</p>
  <a class="btn cubic"><span class="hovering">Now, Hovering</span><span class="default">Button</span></a>
</div>
  <div class="item">
    <h2>解答</h2>
    <p>answer.scssが適用されています。</p>
    <a class="btn cubic"><span class="hovering">Now, Hovering</span><span class="default">Button</span></a>
  </div>
</section>