<%#= render 'boostrap' %>
<section id="button-slide">
  <div id="container">
    <button class="btn btn-slide">Button <span></span></button>
  </div>
  <button class="btn">Button</button>
</section>
<button class="btn">Button</button>