<%#= render 'boostrap' %>

<section id="slide_button">
  <div id="container">
    <button class="btn slide-bg ">Button</button>
  </div>
</section>
<div class="dot-spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>